/* index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000003;
    background-image:url(./imgs/asfalt-light.png);
    box-sizing: border-box;
    color:white;
}

* {
    box-sizing: border-box;
}
h3{
    color:red;
}
.navbar {
    background-color: #c4170c;
    border-bottom: 3px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navbar a {
    color: #000;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-left a {
    color: #fff;
    font-weight: bold;
}

.navbar-left a:hover {
    background-color: #007bff;
    color: #fff;
}

.navbar-right a {
    color: #fff;
    font-weight: bold;
}

.navbar-right a:hover {
    background-color: #007bff;
    color: #fff;
}

.navbar-right a:last-child {
    margin-left: 10px;
}

header {
    background-color: #c4170c;
    color: white;
    padding: 1em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

#search-bar {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #c4170c;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

.article {
    background-image:url(./imgs/asfalt-light.png);
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 40%;
    border-radius: 5px 5px 0 0;
}

.article h3 {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.article p {
    margin: 1em 0 0;
    font-size: 1em;
    line-height: 1.5;
}
.delecao {
    color: red;
    font-size: 5em;
}

.quinn {
    color: gray;
}

/* Animação  */
.strange{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  div:before,
  div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }